<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<h2 style="text-align: center">Danh sách sản phẩm</h2>
<div class="container-fluid">
    <div class="row " th:each="product : ${productList}">
        <div class="card col-3 mx-auto" style="width: 18rem;margin-bottom: 20px">
            <div class="card-body">
                <h5 class="card-title text-center" th:text="${product.name}"></h5>
                <p class="card-text text-center text-danger" th:text="${product.price}+'đ'"></p>
                <a th:href="@{/detail/(id=${product.id})}" class="btn btn-primary">Description</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>