<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
<body>
<nav th:fragment="navbar" class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <a href="/" class="navbar-brand text-light">Danh sách user</a>
            </div>
            <div class="col-lg-6">
                <a href="/showAdd" class="navbar-brand text-light">Thêm mới user</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>