<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <title>Edit Customer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<header th:replace="~{layout/header::header}"></header>
<div class="container-fluid">
    <form action="/customer/update" method="post" th:object="${customer}">
        <h1>Sửa thông tin khách hàng</h1>
        <fieldset>
            <legend style="margin-top: 15px; margin-bottom: 15px">Thông tin khách hàng</legend>
            <table>
                <tr>
                    <td>Mã khách hàng:</td>
                    <input type="hidden" th:field="*{id}">
                </tr>
                <tr>
                    <td>Loại khách:</td>
                    <td>
                        <input type="text" th:field="*{customerType}">
                    </td>
                </tr>
                <tr>
                    <td>Họ tên:</td>
                    <td><input type="text" th:field="*{name}"></td>
                </tr>
                <tr>
                    <td>Ngày sinh:</td>
                    <td><input type="text" th:field="*{dayOfBirth}"></td>
                </tr>
                <tr>
                    <td>Giới tính:</td>
                    <td><input type="text" th:field="*{gender}"></td>
                </tr>
                <tr>
                    <td>Số CMND:</td>
                    <td><input type="text" th:field="*{idCard}"></td>
                </tr>
                <tr>
                    <td>Số điện thoại:</td>
                    <td><input type="text" th:field="*{phoneNumber}"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" th:field="*{email}"></td>
                </tr>
                <tr>
                    <td>Địa chỉ:</td>
                    <td><input type="text" th:field="*{address}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Sửa thông tin khách hàng"></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
<footer th:replace="~{layout/footer::footer}"></footer>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>