<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-light bg-success">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <a href="/" class="navbar-brand text-light">Danh sách sản phầm</a>
            </div>
            <div class="col-lg-6">
                <a href="/showAdd" class="navbar-brand text-light">Thêm mới sản phầm</a>
            </div>
        </div>
        <form action="/" class="d-flex">
            <input class="form-control me-2" name="keyword" style="width: 300px" type="search" placeholder="Tên sản phẩm" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
</nav>
</body>
</html>