<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <title>List Contract</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<header th:replace="~{layout/header::header}"></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <h1>Danh sách hợp đồng</h1>
        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-success" style="width: 100%;height: 100%" data-bs-toggle="modal"
                    data-bs-target="#addContract">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-plus-circle"
                     viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Thêm mới hợp đồng
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-success table-striped">
                <tr>
                    <th>STT</th>
                    <th>Dịch vụ</th>
                    <th>Khách hàng</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Tiền đặt cọc</th>
                    <th>Tổng tiền</th>
                    <th>Dịch vụ đi kèm</th>
                </tr>
                <tr th:each="contract,status: ${contractList}">
                    <td th:text="${status.count}"></td>
                    <td th:text="${contract.facility.name}"></td>
                    <td th:text="${contract.customer.name}"></td>
                    <td th:text="${contract.startDay}"></td>
                    <td th:text="${contract.endDay}"></td>
                    <td th:text="${contract.deposits}"></td>
                    <th:block th:each="money:${total}">
                        <th:block th:if="${money.getKey()==contract.idContract}">
                            <td th:text="${money.getValue()}"></td>
                        </th:block>
                    </th:block>
                    <!--                <td>Chưa làm</td>-->
                    <td>
                        <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal"
                                data-bs-target="#addContact2">
                            +
                        </button>
                        <button id="attachFacilityList" th:attr="onclick=|attachList('${contract.idContract}')|"
                                type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#includedServices">
                            Danh sách các dịch vụ đi kèm
                        </button>

                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/contract/list(page=${contractList.number - 1},keyword = ${keywordValue})}"
                       th:if="${contractList.hasPrevious()}">
                        Previous
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:text="${contractList.number + 1}"></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">/</a></li>
                <li class="page-item">
                    <a class="page-link" th:text="${contractList.totalPages}" href="#"></a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/contract/list(page=${contractList.number + 1},keyword = ${keywordValue})}"
                       th:if="${contractList.hasNext()}">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!--them moi hop dong-->
<form action="/contract/add" method="post">
    <div class="modal fade" id="addContract" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-success" id="addEmployee1">Thêm mới hợp đồng</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="text-success">Dịch vụ</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label class="text-success">Khách hàng</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="startday" class="form-label text-success">Ngày bắt đầu </label>
                        <input type="date" class="form-control" id="startday" name="startday">
                    </div>
                    <div class="form-group">
                        <label for="startday" class="form-label text-success">Ngày bắt đầu </label>
                        <input type="date" class="form-control" id="endday" name="endday">
                    </div>
                    <div class="form-group">
                        <label class="text-success">Tiền đặt cọc</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label class="text-success">Tổng tiền</label>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-success">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--modal-->
<div class="modal fade" id="addContact2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dịch vụ đi kèm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <table class="table table-striped">
                        <tr>
                            <th>Tên dịch vụ đi kèm</th>
                            <th>Đơn vị</th>
                            <th>Giá tiền</th>
                            <th>Số lượng</th>

                        </tr>
                        <tr>
                            <td><input type="checkbox">Karaoke</td>
                            <td>Giờ</td>
                            <td>5000</td>
                            <td><input style="width: 70px" type="number"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">Thuê xe máy</td>
                            <td>Giờ</td>
                            <td>7000</td>
                            <td><input style="width: 70px" type="number"></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox">Thuê xe đạp</td>
                            <td>Giờ</td>
                            <td>8000</td>
                            <td><input style="width: 70px" type="number"></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-primary">Thêm</button>
            </div>
        </div>
    </div>
</div>
<!--modal danh sach dich vu di kem-->
<div class="modal fade" id="includedServices" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditLable">Danh sách dịch vụ đi kèm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container-fluid">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên dịch vụ đi kèm</th>
                        <th>Giá tiền</th>
                        <th>Đơn vị</th>
                        <th>Trạng thái</th>
                        <th>Số lượng</th>
                    </tr>
                    </thead>
                    <tbody id="bodyContract"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{layout/footer::footer}"></footer>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.6.1.min.js"></script>
<script>
    function attachList(id) {
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/contractRest/attachFacility?id=" + id,
            success: function (contracDetail) {
                console.log(contracDetail);
                let htmlStr = '';
                for (let i = 0; i < contracDetail.length; i++) {
                    htmlStr += `<tr>
                        <td>${i + 1}</td>
                        <td>${contracDetail[i].attachFacility.nameAttachFacility}</td>
                        <td>${contracDetail[i].attachFacility.cost}</td>
                        <td>${contracDetail[i].attachFacility.unit}</td>
                        <td>${contracDetail[i].attachFacility.status}</td>
                        <td>${contracDetail[i].amount}</td>
                    </tr>`;
                }

                $("#bodyContract").html(htmlStr);
                console.log(htmlStr);
            },
            error: function (resultError) {
                console.log("ngu")
            }
        });
    }
</script>
</body>
</html>