<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <a href="/home" class="navbar-brand text-light">Danh sách blog</a>
            </div>
            <div class="col-lg-6">
                <a href="/showAdd" class="navbar-brand text-light">Thêm mới blog</a>
            </div>
        </div>
        <form action="/home" class="d-flex">
            <input class="form-control me-2" name="keyword" style="width: 300px" type="search" placeholder="Tiêu đề" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
</nav>
</body>
</html>